/*
Classe utiliza '.'
Id utiliza '#'
*/
body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(https://cdn.pixabay.com/photo/2016/04/04/12/43/texture-1306790_1280.jpg);
    margin: 0;
    padding: 0;
}
.container_principal {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #756666;
    box-shadow: 0 0 10px rgba(67, 48, 70, 0.5);
    border-radius: 8px;
}

h1{
    text-align: center;
}

.form-name,.form-contact,.form-endereco {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    width: 40%;
    padding: 8px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: rgba(67, 48, 70, 0.5);
}
